html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html , body 
{
font-size: 62.5%;
font-family: Raleway sans-serif;
	text-transform: uppercase;

}
a
{
	text-decoration: none;
	color:white;
}

header {
	background: url(../assets/main-image-1.jpeg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
   	width: 100%;
	margin:0;
	position: relative;
	color:white;
}

h2
{
	margin:0;
}
nav
{

	flex-grow: 1;
text-decoration: none;
height: 100%;
}
img
{
	width:100%;
}
ul
{
		list-style: none;
	margin:0;
	padding:0;
}
h1
{
	border:1px white solid;
	font-size: 3rem;
	
	
}

footer
{
	background-color: #141414;
	color: white;
}
.wrapper
{
	padding:5% 10%;

}
.mainHeading
{
	align-items: center;
	text-align: center;
	width :40%;
margin-bottom:10%;
}
.headerLogo
{
	width:100px;
	    //padding-right: 20%;
    margin-left: 20px;
}

.header_nav_container
{

	display: flex;
	flex-grow:1;

justify-content:space-between;

	height:100%;
}
.mainHeadingFlexContainer
{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.header_top_banner
{
	display: flex;
	flex-grow:1;

	justify-content: space-between;
align-content: center;
align-items: center;


}

.nav_item
{
	width:80PX;
	height:30%;

}
.mainHesding p
{
	font-size: 1.5rem;
}
.discover
{
	
	margin: 0 35%;
	border:1px solid white;
}
.row1_center
{
	text-align:center;
}
.newArrival
{
	margin: 2% 40%;
	border:1px solid #e4e4e4;
}
.mini_nav_container
{
	display:flex;
	padding:0 25%;
justify-content: space-between;


}
.mini_item
{
	color:#eeb013;
}

.row1_1{
	display:flex;
	justify-content: center;
	align-content: center;
}
.row1_2{
	display: flex;
	flex-wrap: wrap;
}
.imageHeading.row1_1_2 div
{
	border:none;
}


.row1_2_item{
	width:25%;
}

.row5{
	display: flex;

}
.row6_2
{
	display: flex;
}


.row6_4
{
	display: flex;
	justify-content: space-between;
}

.footerFlex
{
	display:flex;
}
.footerItem{
	width:25%;
}

.footerNav
{
	text-decoration: none;
}

.row1_1 div
{
	position:relative;
	padding:10px;
}


.row1_1 .imageHeading

{
	display:flex;
	position :absolute;
	flex-direction: column;
 top:0;
 left:0;
 width:100%;
 height:100%;
	background-color: rgba(0,0,0,0);
justify-content:center;

text-align: center;
}
.imageHeading div
{
	
	border: 1px solid white;
	z-index: 99;
	align-items: center;
	margin:0 10%;
	color: white;
	font-size: 1.7rem;
	padding:0;
}

.row1_2_item 
{
	padding:10px;


}

.regPrice
{
	color:#e4e4e4;
	text-decoration: line-through #e4e4e4;
}
.doubleItem
{
	position:relative;

}
.newItem
{
	position: absolute;
	top:0;
	left:0;
	color:#141414;
	border:1px solid #141414;
}

.addToCart
{
	background-color: #eeb013;
	display: none;
	position:absolute;
	width:100%;
	bottom: 0;
	left:0;
	color: #141414;
	text-align:  center;
}

a:hover .addToCart
{
	display: block;

}

