html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


html , body 
{
font-size: 62.5%;
font-family: Montserrat;
font-weight: 700;
	text-transform: uppercase;
text-align: center;
}
a
{
	text-decoration: none;
	color:white;
}

header {
	background: url(../assets/main-image-1.jpeg);
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
  	background-repeat: no-repeat;
   	width: 100%;
	margin:0;
	position: relative;
	color:white;
}

h2
{
	margin:0;
}
nav
{

	flex-grow: 1;
text-decoration: none;
height: 100%;
}
img
{
	width:100%;
}
ul
{
		list-style: none;
	margin:0;
	padding:0;
}
h1
{
	border:2px white solid;
	padding:5px 2px;

	font-size: 3rem;
	
	
}
button{
    
    font-size:2rem;
text-transform: uppercase;
width:200px;
}
footer
{
    background-color: #141414;
	color:#a5a5a5;
	text-align: left;


}
.wrapper
{
	padding:5% 10%;

}
.mainHeading
{
	align-items: center;
	text-align: center;
	width :55%;
margin-bottom:10%;
}
.headerLogo
{
	width:100px;
	    //padding-right: 20%;
    margin-left: 20px;
}

.header_nav_container
{

	display: flex;
	flex-grow:1;
    flex-shrink:1
justify-content:space-between;
font-size:1.3rem;
	height:100%;
}
.mainHeadingFlexContainer
{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

}

.header_top_banner
{
	display: flex;
	flex-grow:1;

	justify-content: space-between;
align-content: center;
align-items: center;


}

.nav_item
{

	width:80PX;
	height:30%;

}
.mainHeading p
{
	font-size: 1.5rem;
}
.discover
{
	height:40px;
	padding-top:10px;
	margin: 0 35%;
	border:1px solid white;
}
.row1_center
{
	text-align:center;
}
.newArrival
{
	height:40px;
	padding-top: 10px;
	font-weight: 700;
	font-size: 2rem;
	margin: 2% 40%;
	border:1px solid #e4e4e4;
}
.mini_nav_container
{
	display:flex;
	padding:0 25%;
justify-content: space-between;


}
.mini_item
{
	color:black;
	font-weight: 700;
}

.row1_1{
	display:flex;
	justify-content: center;
	align-content: center;
}
.row1_2{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}
.imageHeading.row1_1_2 div
{
	border:none;
}


.row1_2_item{
	width:25%;
}

.row5{
	display: flex;

}
.row6_2
{
	display: flex;
}


.row6_4
{
	display: flex;
	justify-content: space-between;
}

.footerFlex
{
	display:flex;
}
.footerItem{
	width:25%;
	border-right:1px solid #3a3a3a;
	padding-left:10px;
	padding-right: 20px;


}


.footerNav
{
	text-decoration: none;

}

.footerNav li
{
	margin:5%;
}

.row1_1 div
{
	position:relative;
	padding:10px;
}


.row1_1 .imageHeading

{
	display:flex;
	position :absolute;
	flex-direction: column;
 top:0;
 left:0;
 width:100%;
 height:100%;
	background-color: rgba(0,0,0,0);
justify-content:center;

text-align: center;
}
.imageHeading div
{
	
	border: 2px solid white;
	z-index: 99;
	align-items: center;
	margin:0 10%;
	color: white;
	font-size: 3rem;
	padding:0;
}

.row1_2_item 
{
	padding:10px;


}

.regPrice
{
	color:#e4e4e4;
	text-decoration: line-through #e4e4e4;
}
.doubleItem
{
	position:relative;

}
.newItem
{
	position: absolute;
	top:10px;
	left:10px;
	padding:8px 5px;
	color:#141414;
	border:1px solid #141414;
}

.addToCart
{
	background-color: #eeb013;
	display: none;
	position:absolute;
	width:100%;
	height:30px;
	padding-top:10px;
	bottom: 0;
	left:0;
	color: #141414;
	text-align:  center;
}

a:hover .addToCart
{
	display: block;

}

.flex
{
	display:flex;
	
}

.row2 , .row3 
{
    position:relative;
    
    text-align: left;
}
.row7
{
	position:relative;
    
    text-align: center;
}
.row2 .main-content 
{
    position:absolute;
    right:10%;
    top:40%;

}

.row3 .main-content , .row7 .main-content 
{
    position:absolute;
    left:10%;
    top:40%;
    width:30%;
}

.row4
{
display:flex;
justify-content:center;

}
.instagram
{
    
    flex-wrap: wrap;
}
.instagram div{
margin:2px;
}


.shoppingNow
{
	height:50px;
	padding-top:8px;
	font-size:1rem;
	font-weight: 0;
}
.main-content h2
{
	font-size: 2rem;
	font-weight: 1000;
}
.main-content h3
{
	font-size:2.5rem;
	padding: 0 0 ;
}

.circleIcon
{
	font-size: 18px;
    border-radius: 314px;
    border: 1px solid black;
    width: 40px;
    height:40px;
    padding:10px;
        margin-left: 42%;
}
.row4_internal h3
{
font-weight: 700;
}
.row4_internal p
{
	font-size:0.6rem;
	color:#9e9e9e;
}

.copyright
{
	justify-content: space-between;
	margin-top:30px;
}
.row4_item
{
	padding: 0 15px;
}
.footerLogo
{
	width:50%;
	text-align: left;
}
.yellowFont
{
	color :#eeb013;
}
.footerTitle
{
	color:#e4e4e4;
	font-size:1.2rem;
	 margin: 0 5px;
}
.social
{
	margin-right:5%;
}

.social div
{
	width:40px;
}

.blackButton
{

}

.yellowButton
{
background-color: #eeb013;
}

.whiteButton
{

}


.nav_item a:hover 
{
	padding-bottom: 10px;
	border-bottom: 2px solid #eeb013;
}

.hugeSale
{
	font-size: 2.5rem !important;
}

.off
{
	font-size:5rem !important;
}
.diamond
{
	display:none;
	margin-top:10px;


}

 li:hover .diamond
{
	margin-top: 10px;
	display: block;
	color:#eeb013;
}
li:hover .hoverli
{
	color:#eeb013;
}

.lowerCase
{
	text-transform: none;
}

.row6 button
{
	font-size: 1.5rem;
	background-color: rgba(255,255,255,-1);
	height:40px;
	margin-bottom: 30px;
}

.row6_2
{
	text-align: left;
	margin:5%;
}
.row6_2_item
{
	padding: 0 10px;
}
.row6_2_item p
{
	color:#9e9e9e;
}

.blogIcons
{
		border-top:1px solid #e4e4e4;
		//height:50%;
	margin-top:30px;
	color:#848282;
		
}

.blogIcons div
{
padding:3px 3px;

	border-bottom:1px solid #e4e4e4;
	justify-content: space-between;

}
.m_v
{
justify-content: space-between;

}
.date
{
	width:40px;
	background-color: #eeb013;
	color:white;
	text-align: center;
	height:50px;
	padding:15px 5px;
}


.photo
{
	width: 130px;
}
.readmore
{
	background-color: rgba(255,255,255,-1);
}
.dots
{
	justify-content: center;
	margin-bottom: 10px;

}

.dot
{
	border:1px solid #eeb013;
	background-color: #eeb013;
	border-radius: 50%;
	width:8px;
	height: 8px;
	margin-right:5px;

}
.grey
{
	background-color: #e4e4e4;
	border-color:#e4e4e4;
}

.discoverNow
{
	background-color: black;
	color: white;
	font-size: 1.5rem;
	height:40px;
	padding-top: 5px; 
}

.footerNav li:hover
{
	color:#eeb013;
}

.smallLine
{
	border-top: 2px solid #eeb013;
	width:30px;
	margin: 10px 0;
}

.insta
{
	border-right:0;
}

.footer
{
	padding-bottom: 10px;
}

.row7 .main-content p
{
	margin:20px 0;
	text-align: center;
}
.description div
{
	margin :4px 0 ;
}

.row1_center nav
{
	height:40px;
}

.fa-shopping-cart
{
	margin-right:10px;
}

